.recipe {
    width: 80%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 16px;
    background-color: hsl(0, 0%, 93%);
    border-radius: 24px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16);
}

.recipe-calculator {
    display: grid;
    grid-template-columns: 1fr 64px 1fr 64px 1fr;
    align-items: stretch;
    gap: 24px;
}

.recipe-calculator > * {
    flex: 2 0 0;
}

.recipe-calculator__operations {
    align-self: center;
    width: 64px;
    flex: 1 0 0;
}

.recipe__button {
    background-color: #E83252;
    padding: 4px 16px;
    border: none;
    align-self: flex-end;
    border-radius: 16px;
    font-size: 20px;
    color: #ECECEC;
}